.box {
  width: 40px;
  height: 40px;
  background-color: blue; }

.box.transformed {
  -webkit-transform: translateX(300px);
  transform: translateX(300px); }

#game {
  position: relative;
  width: 400px;
  height: 400px; }
  #game .grid-container {
    position: absolute;
    z-index: 1;
    margin: 0 auto; }
    #game .grid-container .grid-cell {
      width: 81.25px;
      height: 81.25px;
      margin-bottom: 15px;
      margin-right: 15px; }
  #game .tile-container {
    position: absolute;
    z-index: 2; }
    #game .tile-container .tile {
      width: 81.25px;
      height: 81.25px; }

.tile.position-0-0 {
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px); }
.tile.position-0-1 {
  -webkit-transform: translate(0px, 96.25px);
  transform: translate(0px, 96.25px); }
.tile.position-0-2 {
  -webkit-transform: translate(0px, 192.5px);
  transform: translate(0px, 192.5px); }
.tile.position-0-3 {
  -webkit-transform: translate(0px, 288.75px);
  transform: translate(0px, 288.75px); }
.tile.position-1-0 {
  -webkit-transform: translate(96.25px, 0px);
  transform: translate(96.25px, 0px); }
.tile.position-1-1 {
  -webkit-transform: translate(96.25px, 96.25px);
  transform: translate(96.25px, 96.25px); }
.tile.position-1-2 {
  -webkit-transform: translate(96.25px, 192.5px);
  transform: translate(96.25px, 192.5px); }
.tile.position-1-3 {
  -webkit-transform: translate(96.25px, 288.75px);
  transform: translate(96.25px, 288.75px); }
.tile.position-2-0 {
  -webkit-transform: translate(192.5px, 0px);
  transform: translate(192.5px, 0px); }
.tile.position-2-1 {
  -webkit-transform: translate(192.5px, 96.25px);
  transform: translate(192.5px, 96.25px); }
.tile.position-2-2 {
  -webkit-transform: translate(192.5px, 192.5px);
  transform: translate(192.5px, 192.5px); }
.tile.position-2-3 {
  -webkit-transform: translate(192.5px, 288.75px);
  transform: translate(192.5px, 288.75px); }
.tile.position-3-0 {
  -webkit-transform: translate(288.75px, 0px);
  transform: translate(288.75px, 0px); }
.tile.position-3-1 {
  -webkit-transform: translate(288.75px, 96.25px);
  transform: translate(288.75px, 96.25px); }
.tile.position-3-2 {
  -webkit-transform: translate(288.75px, 192.5px);
  transform: translate(288.75px, 192.5px); }
.tile.position-3-3 {
  -webkit-transform: translate(288.75px, 288.75px);
  transform: translate(288.75px, 288.75px); }

.tile-2 .tile-inner {
  background: #eee4da; }

.tile-4 .tile-inner {
  background: #eae0c8; }

.tile-8 .tile-inner {
  background: #f59563; }

.tile-16 .tile-inner {
  background: #3399ff; }

.tile-32 .tile-inner {
  background: #ffa333; }

.tile-64 .tile-inner {
  background: #cef030; }

.tile-128 .tile-inner {
  background: #e8d8ce; }

.tile-256 .tile-inner {
  background: #990303; }

.tile-512 .tile-inner {
  background: #6ba5de; }

.tile-1024 .tile-inner {
  background: #dcad60; }

.tile-2048 .tile-inner {
  background: #b60022; }
