<div>
    <div class="row gap" ></div>
    <div class="row" >
        <div class="col-md-2" >
            <input type="text" ng-model="firstName" placeholder="First Name" >
        </div>
        <div class="col-md-2" >
            <input type="text" ng-model="lastName" placeholder="Last Name" >
        </div>
        <div class="col-md-2" >
            <button ng-click="reset()" >Set to "John Doe"</button>
        </div>
    </div>
    <div class="row gap" ></div>
    <div shared-scope-directive></div>
    <div class="row gap" ></div>
    <div inherited-scope-directive></div>
    <div class="row gap" ></div>
    <div isolated-scope-directive></div>
    <div class="row gap" ></div>
</div>