body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.hdOpt {
  position: fixed !important;
  top: -9999px !important;
  left: -9999px !important;
}

input:disabled + label {
  color: darkgrey !important;
}

input:checked + label {
  color: darkgreen !important;
}

.list span .fa {
  display: none !important;
}

.list:not(.noaxn):hover span .fa {
  display: inline !important;
}

.axn {
  padding-left: 25px;
}
