<div class="row" >
  <div class="row text-center" >
    <h3>To Dos</h3>
  </div>
  <div class="row" ></div>
  <div class="row" layout-align="center center">
    <input type="text" ng-model="newTask" required md-maxlength="10">
  </div>
  <div class="row" ></div>
  <div class="row" data-ng-repeat="todo in todos">
    <div class="col-md-12">
      <input id="{{todo._id}}" type="checkbox" ng-model="todo.isComplete" class="hdOpt">
      <label for="{{todo._id}}">
        <i class="fa fa-check-square-o" data-ng-class="{ 'fa-check-square-o': todo.isComplete, 'fa-square-o': !todo.isComplete }"></i> {{todo.task}}
      </label>
    </div>
  </div>
</div>